@use "./variables" as *;

main {
padding:1rem;
li {margin-bottom:1rem; }
}

a {
	color: $bodyColor;
	background-color: $linkBackground;
	&:hover{ 
		transition: background-color 0.1s linear; 
		background-color:transparent;
		color:$linkColorHover;
	}
}



h2 { text-align:right; color:$darkBlue; text-shadow:1px 1px 0.1px rgba(0,0,0,0.7)}


.footer, .navbar{ box-shadow: 0px 1px $bodyColor; }
