<footer class="footer">
<ul class="footer_links ">

<li class="helpx"><a href="helpx.net" > <img src="./images/icons/helpX.png" alt="HelpX Icon"/> </a></li>
<li class="wwoof"><a href="wwoof.net"> <img src="./images/icons/wwoof.svg" alt="Wwoof Icon"/> </a></li>

<li class="footer_lastUpdated" id="lastUpdated">
Linda & Santi -
<% if (date) { %>
Updated: <%= date %>
<% } else { %>
Last Updated: Today
<% } %>
</li>
</ul>

</footer>
