<footer class="footer">
<ul class="footer_links ">
<li><a href="helpx.net">
<img src="" alt="HelpX Icon"/><span class="helpxIcon">HelpX</span>
</a></li>

<li><a href="wwoof.net">
<img src="" alt="Wwoof Icon"/><span class="wwoofIcon">Wwoof</span>
</a></li>
</ul>
</div>

<div class="footer_us">
Linda & Santi
</div>

<div class="footer_lastUpdated" id="lastUpdated">
Last Updated: Today
</div>

</footer>
