@use "./variables" as *;

main {
@media screen and (min-width:420px){ main {padding:calc(2rem + 5vw)}}
@media screen and (min-width:900px){main {width:75%; margin:auto; padding:0 }}
li {margin-bottom:1rem; }
}

p { margin-bottom: 1rem; max-width:80ch }

h2 { text-align:right; color:$darkBlue; text-shadow:1px 1px 0.1px rgba(0,0,0,0.7)}

img{ border-radius:5px; box-shadow:1px 1px 2px $bodyColor; }

.navbar{ box-shadow: 0px 0px 3px $bodyColor; }

button {
border:none;
padding:1rem; 
border-radius:5px; 
font-weight:bold;
box-shadow:1px 1px 1px $bodyColor;
&:hover{
transform:scale(1.03);
transition:0.2s all ease-out; 
}}

.button-secondary{
color:$bodyBackground;
background-color:$secondaryBtnBg;
&:hover{
background-color:$secondaryBtnBgHover;
}}


.button-primary{
color:$bodyBackground;
background-color:$primaryBtnBg;
&:hover{
background-color:$primaryBtnBgHover;
}}
