@use "./variables" as *;

.footer{ 
  align-self:end;
  &_ul  { 
    grid-template-columns: repeat(3,1fr);
width:100%; margin:0; @include gridCenter;
      .helpx{background-color:#314d6d}
      a {background-color:transparent;
        @include gridCenter; 
        img{box-shadow:none; padding:0.8rem; }
      }
      &_lastUpdated{ color:#333;align-self:end; font-size:1rem}

  }}

