#form, .comments_thatsIt, .comments_info{ display:none; }

#comments {
ul.comments_list { 
margin:1rem 0;
li {
max-width:60ch;
padding:0.5rem;
background-color:rgba(0,0,0,0.15);
box-shadow:1px 1px 1px rgba(0,0,0,0.9);
h1{ font-size:1.5rem; padding:0; margin:0}
@media screen and (min-width:700px){padding:2rem};
}}
}
.comments_info, .comments_thatsIt {
margin-top:2rem;
background-color:rgba(25,100,10,0.3); border:2px dotted rgba(10,100,10,0.8);
}
#form { width:100%; textarea {width:100%}}

@media screen and (min-width:900px){
#form {width:65%; margin:auto;}
}
