@use "variables" as *;

a {
font:$serif;
color: $bodyColor;
     background-color: $linkBackground;
     &:hover{ 
transition: all 0.1s linear; 
            background-color:transparent;
color:$linkColorHover;
       }
}
