//Variables & Mixings
$linkColorHover:#266210;
$linkBackground:#65bb462b;
$bodyBackground:#f4f4f4;
$bodyColor:#333;
$darkBlue:#1c3e68;
$red:#ff00005e;
$lightRed:#ff000069;
$green:rgba(10,100,10,.8);
$lightGreen:rgba(25,100,10,.3);
$lightBlue: #093e82bd;
$blue: #093e82;
//Buttons
$primaryBtnBg:#093e82bd;
$primaryBtnBgHover:#093e82;
$secondaryBtnBg:rgba(80,80,80,0.75);
$secondaryBtnBgHover:rgba(80,80,80,0.9);

$checkMark:✅;
$checkMarkSize:1.5rem;
$checkMarkMargin:0.4rem;
//banner
$h1BackgroundClip:"tree.jpg";
$banner:"FullSizeRender.jpg";

//Font Stack
$sans: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$serif: "Source Serif Pro", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//symbol
@mixin symbol($code, $margin, $size){ content:$code; margin-right:$margin;font-size:$size};

//quick align
@mixin flexRow(){ display:flex; flex-direction:row }
@mixin flexColumn(){ display:flex; flex-direction:column }
@mixin gridCenter(){ display:grid; place-items:center; }
@mixin titleOrSection(){
  margin: 3rem 0 1.38rem;
  font-weight: 300;
  line-height: 1.3;
  font-family: $serif;
font-size: 3.998rem;
}
@mixin infoBox($color, $background){
border:2px dotted $color;
border-radius:1rem;
background-color:$background;
font-weight:bold;
text-align:center;
padding:1rem;
}
// list custom style

.checkMarkedListItem {
li{
  @include flexRow;
  align-items:center; //helps with the checkmark
}
> li::before { @include symbol("\2705",0.4rem, 1rem)} //includes checkmark
}

.websiteStepsListItem {
li{
  @include flexRow;
  align-items:first baseline; //helps with the checkmark
> span {margin-left:0}
&::before{ @include symbol("\1F463",0.4rem, 1rem)} //includes checkmark 
}
}

article{ h1{ @include titleOrSection; } }
