@use "./variables" as *;

.banner{
	@include gridCenter;
	position:relative;
	background-image:url("/images/#{$banner}");
	background-size:cover;
	background-repeat:no-repeat;
	min-height:400px;
	width:100%;
 > h1 {
	text-align:center; 
	color:transparent;
	background-clip:text;
	background-image:url("/images/#{$h1BackgroundClip}");
	text-shadow:1px 1px 0px rgba(0,0,0,0.2);
} }

