html {
  font-size: 100%;
  word-break: break-word;
  cursor: default;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

figcaption {
  text-align: center;
}

body {
  font-family: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 300;
  line-height: 1.3;
}

h1 {
  font-size: 5.653rem;
  font-weight: 700;
}

h2 {
  font-family: "Source Serif Pro", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

small, .text_small {
  font-size: 0.707rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.navbar > li > a {
  padding: 0.9rem;
}

body {
  display: grid;
  place-items: center;
  position: relative;
  background-color: #f4f4f4;
  color: #333;
}

.h1Wrapper {
  display: grid;
  place-items: center;
  position: relative;
  background-image: url("/images//theFields.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  color: transparent;
  background-clip: text;
  background-image: url("/images//tree.jpg");
}

h2 {
  text-align: right;
  color: #1c3e68;
}

a {
  color: #333;
  background-color: #65bb462b;
}
a:hover {
  transition: background-color 0.1s linear;
  background-color: transparent;
  color: #266210;
}

.welcome {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
}
.welcome_figure {
  width: 16rem;
  height: 16rem;
  align-self: center;
}
.welcome_figure figcaption {
  text-align: center;
}
.welcome_figure img {
  transform: rotateZ(0deg);
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #333;
}
.welcome_figure img:hover {
  transform: rotateZ(2deg);
  transition: tranform 0.1s linear;
}

ul.tasks > li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul.tasks > li .tasks_checkmark {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

ul.navbar {
  font-weight: 600;
  font-size: 1rem;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.aroundImg_img {
  width: 60%;
  min-width: 300px;
  border-radius: 1rem;
}

ul.navbar, footer {
  align-self: start;
  box-shadow: 0px 1px #333;
}

.quoteLikePar {
  clear: both;
  margin-top: 2rem;
  padding: 1rem;
  border-left: 3px dashed #1c3e68;
}

footer {
  align-self: end;
}

@media screen and (min-width: 900px) {
  .h1Wrapper {
    min-height: 600px;
    height: 50vh;
    max-height: 900px;
  }

  p {
    padding: 0 1rem;
  }

  .welcome {
    flex-direction: column;
  }

  main {
    min-width: 750px;
    width: 60%;
    margin: auto;
  }

  .taskImgFlex {
    display: flex;
    flex-direction: row;
  }

  .aroundImg_img {
    width: 50%;
  }
  .aroundImg_img img {
    width: 100%;
    clip-path: circle(192px at 230px 252px);
  }
}

/*# sourceMappingURL=style.css.map */
