@use "./variables" as *;
@use "./resets";
@use "./fonts";
@use "./body";
@use "./general";
@use "./banner";
@use "./navbar"; 
@use "./footer";

// tag, general styling
.welcome{
	@include flexColumn;	
	&_figure {
		width: $imageSize;
		height:$imageSize;
		align-self:center;
		margin-bottom:1rem;
		img {
			transform:rotateZ(0deg);
			width:100%;
			border-radius:5px;
			box-shadow:1px 1px 2px $bodyColor;
			&:hover{
				transform:rotateZ(2deg);
				transition:transform 0.1s linear; 
} } } } 

ul.tasks > li {
	@include flexRow;
	align-items:start; //controls vertical position
	.tasks_checkmark {@include checkMark($checkMarkSize, $checkMarkMargin)}
	&::before{@include symbol("\2705",0.4rem)}
}

ul.places > li::before {@include symbol("\2014",0.4rem)}

.taskImgFlex{@include flexColumn;align-self:center}

.roundFig { width:60%; min-width:300px; align-self:center; 
	&_img{border-radius:50%;}
}


.blueBox{padding:1rem; margin:1rem; border:2px dashed $darkBlue;border-radius:5px; text-align:center}
@media screen and (min-width:900px){
	ul.navbar {font-size:1.5rem;}
	p {padding: 0 1rem;}
	.h1Wrapper{ min-height:600px; height:50vh; max-height:900px; }
	.welcome{ flex-direction:column; padding:2rem 0; } 
	main { min-width:750px; width:60%; margin:auto; }
	.quoteLikePar{ border-left:3px dashed $darkBlue;margin-top:3rem; }
	.roundFig_img { border-radius:0px; clip-path:circle(192px at 230px 252px); }
        .taskImgFlex{ @include flexRow(); }
}
