@use "./variables" as *;
@use "./fonts";
@use "./navbar"; 
@use "./footer";


//general styles

html {
	font-size: 100%;
	word-break:break-word; 
	cursor:default
}

* {box-sizing:border-box; padding:0; margin:0}

body {
	display:grid;
	place-items:center;
	padding: 2rem;
	padding-top: 1rem;
	min-height:100vh;
	background-color:$bodyBackground;
	color:$bodyColor;
}


ul {list-style-type:none}

h1 {
	margin-top: 0;
	text-align:center; 
	padding:1rem;
	color:transparent;
	background-clip:text;
	background-image:url("/images/tree.jpg");
	//text-shadow: -2px -2px 2px rgba(0,0,0,0.7)
}

h2 { text-align:left; }

a {
	color: $linkColor;
	background-color: $linkBackgroundHover;
	display:inline-block;
	text-decoration:none;
}

.welcome{
	//@include flexRow;	
	//font-weight:300;
	//	font-size:2rem;
	color:$welcomeColor;
	&_image {
		display:block;
		float:right;
		width:4rem;
		
		
	}
	// round picture, if browser supports it, and floating right or left
	&_text::first-letter{
		//		font-size:1.5rem;
		color:blue; 
		font-weight:700;
	}
} 

ul.navbar{
	font-weight:600; 
	font-size:1.0rem; 
}

ul.navbar, footer{
	align-self:start;
	box-shadow:0px 1px 1px $darkGrey;
	color: #aabbcc;
}

footer{ align-self:end	}

@media screen and (min-width:1200px){
	main {
		min-width:750px;
		width:60%;
		margin:auto;

}}
