@use "../common/common.scss";
.postListItem{
&:nth-child(even){ background: rgba(50, 14,0, 0.1); }
&:nth-child(odd){ background: rgba(0,14,50,0.1); }
padding:0.5rem;
box-shadow:1px 1px 1px rgba(0,0,0,0.7);
border-radius:1rem;
h1 {
font-size:1.5rem;
padding:1rem;
margin:0;
text-align:center;
}
.dateAndTags{
text-align:right;
display:flex;
flex-direction:row;
justify-content:flex-end;
> p {
font-weight:bold;
border-radius:0.6rem;
padding:0.3rem;
margin:0
}
}
}
