@use "./variables" as *;

body {

	@include gridCenter;
	position:relative;
	background-color:$bodyBackground;
	color:$bodyColor;
}
@media screen and (min-width:900px){
body {
        min-width:750px;
}
}
