@use "./variables" as *;

html{font-size:11px}

@media screen and (min-width:600px){
html {font-size:12px}
}

@media screen and (min-width:750px){
html {font-size:14px}
}

@media screen and (min-width:900px){
html {font-size:16px}
}

body {
  font-family: $sans;
  font-weight: 400;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  font-size:1.5rem;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 300;
  line-height: 1.3;
}

h1 {
  font-size: 5.653rem;
  font-weight:700;
}

h2 {
  font-family: $serif;
font-size: 3.998rem;
}

h3 {font-size: 2.827rem;}

h4 {font-size: 1.999rem;}

h5 {font-size: 1.414rem;}

small, .text_small {font-size: 0.707rem;}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/font/SourceSerifPro-SemiBold.eot');
    src: url('/font/SourceSerifPro-SemiBold.eot?#iefix') format('embedded-opentype'), url('/font/SourceSerifPro-SemiBold.woff2') format('woff2'), url('/font/SourceSerifPro-SemiBold.woff') format('woff'), url('/font/SourceSerifPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/font/SourceSerifPro-Light.eot');
    src: url('/font/SourceSerifPro-Light.eot?#iefix') format('embedded-opentype'), url('/font/SourceSerifPro-Light.woff2') format('woff2'), url('/font/SourceSerifPro-Light.woff') format('woff'), url('/font/SourceSerifPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/font/SourceSerifPro-Regular.eot');
    src: url('/font/SourceSerifPro-Regular.eot?#iefix') format('embedded-opentype'), url('/font/SourceSerifPro-Regular.woff2') format('woff2'), url('/font/SourceSerifPro-Regular.woff') format('woff'), url('/font/SourceSerifPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/font/SourceSerifPro-Black.eot');
    src: url('/font/SourceSerifPro-Black.eot?#iefix') format('embedded-opentype'), url('/font/SourceSerifPro-Black.woff2') format('woff2'), url('/font/SourceSerifPro-Black.woff') format('woff'), url('/font/SourceSerifPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/font/SourceSerifPro-Bold.eot');
    src: url('/font/SourceSerifPro-Bold.eot?#iefix') format('embedded-opentype'), url('/font/SourceSerifPro-Bold.woff2') format('woff2'), url('/font/SourceSerifPro-Bold.woff') format('woff'), url('/font/SourceSerifPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-SemiBold.eot');
    src: url('/font/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-SemiBold.woff2') format('woff2'), url('/font/SourceSansPro-SemiBold.woff') format('woff'), url('/font/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-Regular.eot');
    src: url('/font/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-Regular.woff2') format('woff2'), url('/font/SourceSansPro-Regular.woff') format('woff'), url('/font/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-Italic.eot');
    src: url('/font/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-Italic.woff2') format('woff2'), url('/font/SourceSansPro-Italic.woff') format('woff'), url('/font/SourceSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-Light.eot');
    src: url('/font/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-Light.woff2') format('woff2'), url('/font/SourceSansPro-Light.woff') format('woff'), url('/font/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-LightItalic.eot');
    src: url('/font/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-LightItalic.woff2') format('woff2'), url('/font/SourceSansPro-LightItalic.woff') format('woff'), url('/font/SourceSansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-ExtraLightItalic.eot');
    src: url('/font/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-ExtraLightItalic.woff2') format('woff2'), url('/font/SourceSansPro-ExtraLightItalic.woff') format('woff'), url('/font/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-Bold.eot');
    src: url('/font/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-Bold.woff2') format('woff2'), url('/font/SourceSansPro-Bold.woff') format('woff'), url('/font/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-BlackItalic.eot');
    src: url('/font/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-BlackItalic.woff2') format('woff2'), url('/font/SourceSansPro-BlackItalic.woff') format('woff'), url('/font/SourceSansPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-ExtraLight.eot');
    src: url('/font/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-ExtraLight.woff2') format('woff2'), url('/font/SourceSansPro-ExtraLight.woff') format('woff'), url('/font/SourceSansPro-ExtraLight.ttf') format('truetype');
 font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-Black.eot');
    src: url('/font/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-Black.woff2') format('woff2'), url('/font/SourceSansPro-Black.woff') format('woff'), url('/font/SourceSansPro-Black.ttf') format('truetype');
 font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/font/SourceSansPro-BoldItalic.eot');
    src: url('/font/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/font/SourceSansPro-BoldItalic.woff2') format('woff2'), url('/font/SourceSansPro-BoldItalic.woff') format('woff'), url('/font/SourceSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

