#comments {
button {padding:1rem; border:1px solid rgba(0,0,0,0.6); box-shadow:1px 1px rgba(30,30,30,0.4);
color:white;
background-color:rgba(25,125,25,0.8);
border-radius:5px; font-weight:bold;
&:hover{cursor:pointer; 
background-color:rgba(125,125,125,0.5);
transition:0.3s all ease-in-out; }}
ul.comments_list { 
margin:1rem 0;
li {
padding:1rem;
 > *{ max-width:60ch};
@media screen and (min-width:700px){padding:2rem};
h3{ font-size:2rem; padding:0; margin:0}
background-color:rgba(0,0,0,0.15);
border-bottom:1px solid rgba(0,0,0,0.9);
}}
}
.comments_info, .comments_thatsIt {
margin-top:2rem;
background-color:rgba(10,100,10,0.3); border:2px dotted rgba(10,100,10,0.8);
}
#form {
display:none; width:100%; & textarea {width:100%}}

@media screen and (min-width:900px){
#form {width:65%; margin:auto;  }
}
