<article>
<h1>Climbing in Italy</h1>
<p>In August we decided to start climbing. We did some research about the gear, asked basic questions to friends and bought the most necessary stuff.</p>

<ul>
<li>Belay Device Petzl Reverso</li>
<li>Carabiner (Black Diamond).</li>
<li>60 meter Tendon Rope.</li>
<li>Harnesses, Climbing shoes, powder chalk Simond (Decathlon's brand).</li>
<li>Eight quickdraws (different makes, some from Simond too).</li>
</ul>

<p>That's about 200 Euros per person.</p>

<p>If you never climbed, it is quite scary. A rope connects two people, one climbs and the other one stops the rope if you fall (belays). If the belayer does not break, the rope slips and you fall down to the ground. This makes you train very well before trying on a real wall.</p>

<p>We learnt the knot that holds your life, which takes some time, and started practizing belaying weighs on trees. After climbing short trees for a while, we watched several tutorials on Youtube and went 
to a local crag in Gavi (Nordern Italy). In climbing, walls are graded according to the difficulty. In Gavi the rock is sandstone. Routes are short but difficult. The grades range from 4C to 8A+. The first levels are fine for a beginner, so that's were we started.</p>

<p>Below there is a short video showing the basic equipment and a try in Lead climbing in a 5C.</p>
</article>
