<!DOCTYPE html>
<html lang='en'>

<%- include("../includes/head.html", {title, page, cssPath}) %>
<body>

<%- include("../includes/navbar.html", navigationLinks) %>

<%- include("../includes/banner.html", title) %>

<main>

<h2>This Website</h2>
<p>After several days working together, we manage to get a very basic website up and running.</p>
<p>The website was done from scratch, the domain name was bought in GoDaddy.</p> 
<p>The site is hosted on a EC2 instance on Amazon Cloud. The backend is a <a href='https://expressjs.com/'>Node/Express</a> server, linked to a MongoDB database. The server uses <a href='https://www.npmjs.com/package/ejs'>ejs</a> template engine to render HTML on the fly.</p>
<p>The frontend stylesheets are compiled to CSS from <a href='https://sass-lang.com/dart-sass'>Sass</a>. Bootstrap, Tailwind, JQuery may be added in the future.</p>
<p>The source code can be found at <a href="https://github.com/santimirandarp/">Github.</a></p>

<h2>Other Projects</h2>
<p>Linda is learning to produce music using Ableton, and brushing up statistics in SPSS. Santi is tinkering with raspberry pis.</p>

</main>

<%- include('../includes/footer.html') %>

<script type="module" src="/javascripts/common/index.js"></script>
<script type="module" src="/javascripts/about/index.js"></script>
</body>
</html>
