<!DOCTYPE html>
<html lang='en'>

<%- include("../includes/head.html", {title, page, cssPath}) %>

<body>

<%- include("../includes/navbar.html", navigationLinks) %>

<%- include("../includes/banner.html", title) %>

<main>

<h2>This Website</h2>
<p>We were curious about how to create a website from the ground up, and noew - after several months, it's here. The tools and basic steps we followed to build the site are:</p>
<ul class="websiteStepsListItem">
<li><span>Buy a domain name in Godaddy (for about a dollar a year.)</span></li>
<li><span>Set up an EC2 instance on Amazon Cloud (this is a computer that we access remotely, and the one serving the website). There is a configuration overhead for opening connection ports (80 and 43). But it is for free (for a year).</span></li>
<li><span>Backend for handling http(s) requests. We use <a href='https://expressjs.com/'>Node/Express</a>.</span></li>
<li><span>Database to store information and communicate with the backend. We use MongoDB-Atlas and Mongoose.</span></li>
<li><span>Because blogposts follow a similar layout, we use a template engine that greatly simplifies the structure of the blog. We used express-handlebars but later switched to  <a href='https://www.npmjs.com/package/ejs'>ejs</a>.</span></li>
<li><span>The frontend stylesheets are compiled to CSS from <a href='https://sass-lang.com/dart-sass'>Sass</a>.</span></li>
<li><span>On development Gulp 4 and Webpack are used to handle tedious tasks.</span></li>
</ul>

<p>All the code we execute is open to anyone for reading. The source code can be found at <a href="https://github.com/santimirandarp/">Github.</a></p>

<h2>Other Projects</h2>
<p>In August 2021 we started climbing, and so far it has been real fun. We hope to upload some blogposts soon.</p>

</main>

<%- include('../includes/footer.html') %>

<script type="module" src="/javascripts/about/bundle.js"></script>
</body>
</html>
