
#comments {
ul.comments_list { 
margin:1rem 0;
li {
padding:1rem;
 > *{ max-width:60ch};
@media screen and (min-width:700px){padding:2rem};
h3{ font-size:2rem; padding:0; margin:0}
background-color:rgba(0,0,0,0.15);
border-bottom:1px solid rgba(0,0,0,0.9);
}}
}
.comments_info, .comments_thatsIt {
margin-top:2rem;
background-color:rgba(25,100,10,0.3); border:2px dotted rgba(10,100,10,0.8);
}
#form {
display:none; width:100%; & textarea {width:100%}}

@media screen and (min-width:900px){
#form {width:65%; margin:auto;  }
}
