@use "../common/variables" as *;
@use "variables" as v;

.welcome { 
  @include flexColumn;	
  align-items:center; 
  &_figure { 
width: v.$imageSize;
height:v.$imageSize;
margin-bottom:1rem;
     img { 
transition:all 0.3s linear; 
padding:1rem;
&:hover{ transform:rotateZ(2deg); padding:0.5rem; background-color:v.$yellow; } } } } 


.welcome{ padding:2rem 0; } 
