@use "../common/common";
@use "../common/variables" as *;
@use "welcome";
@use "../common/form";
@use "pictures";

ul.places > li::before {@include symbol("\2014",0.4rem)} //include em dash

.taskImgFlex{@include flexColumn;align-self:center}

.roundFig { width:60%; min-width:300px; 
  &_img{
    border-radius:50%;
    max-height:400px; 
    object-fit:cover;
  } }

.blueBox{padding:1rem; margin:1rem; border:2px dashed $darkBlue;border-radius:5px; text-align:center}

.reviewSpan{border-bottom:2px solid rgba(125,0,0,0.5); &:hover{border-bottom:0px solid transparent;cursor:pointer}}

.reviewImg { margin:1.5rem 0; display:none; max-width:450px; }


@media screen and (min-width:700px){
    .roundFig_img { border-radius:0px; clip-path:circle(192px at 196px 339px); }
  }
@media screen and (min-width:900px){
  ul.navbar {font-size:1.5rem;}
  .quoteLikePar{ border-left:3px dashed $darkBlue; padding-left:1rem;}
  .roundFig_img { border-radius:0px; clip-path:circle(192px at 196px 339px);
    max-height:500px; }
  .taskImgFlex{ @include flexRow; }
}
