@use '../home';
@mixin fitIt() {
    height: 100 % ;
    object - fit: cover;
}
main {
    width: 75 %
}
.imgGal {
    display: grid;
    grid - template - columns: repeat(auto - fit, minmax(200 px, 1 fr));
    grid - auto - rows: 200 px;
    grid - auto - flow: dense;
    grid - gap: 1 em;
    margin: 1 em; &
    >
    a {
        display: block;
        @include fitIt;
        figure {
            position: relative;
            @include fitIt;
            figcaption {
                position: absolute;bottom: 0;
                width: 100 % ;text - align: center;

                background - color: rgba(255, 255, 255, 0.5);
            }
            img {
                @include fitIt
            }
        }
    }
}