<main>
<h1>Arrivederci, Italia!</h1>
<p>After some very interesting 6 months in Italy, it was time to come back. It wasn't really our will, but the pressure for earning some money and keeping the <em>continous residence</em> status in the United Kingdom, as well as some yet-to-solve problems.
</p>
<p>We reserved our seats in trains, buses, a plane, booked our tests, completed passenger locator forms and everything required for a journey from Italy to Scotland by December 2021. In case you're interested in a detailed description, it is included in the section <a href="#journey">Journey</a> below.
<section>
<h3>Journey</h3>
<div class="foldable">
<p>
It was real stress and, although the tickets were all cheap, the tests requirements made the travel quite expensive for our reduced budget. We departed from Serravalle Scrivia in Northern Italy, a small city close to the Alps, to Inverness, a city in the lovely Scottish Highlands.
</p>
</div>
</section>
<section>
<h3>What is Italy like</h3>
<p>Landscape-wise Italy is very beautiful. We visited an island in the south called Ischia (close to Naples) and move further up to a random but cheap place in Cervaro, in the Midlands. Later on we stayed a few months at Thabarwa Nature Centre. This was in the region of Piedmont, northern Italy. A few of the cities nearby were Serravalle Scrivia, Arquata Scrivia and Gavi. We mostly visited Serravalle and Gavi by bike. There was a nice river in Serravalle, and a beautiful waterfall in Gavi (called <em>Cascata dell Neirone</em>). In Gavi we had the chance both to swim and climb.</p>
<p>Summer is really hot all over Italy, but humidity isn't that high, so as long as you stay at a fresh place (a river, the shade of a tree) you can enjoy it. There is also an infinite variety of good vegetables that will love the sun (like tomatoes) and grow really well under those conditions, as long as they have enough water. We've had the chance to work at a garden and grow corn, beans, salad leaves, carrots, tomatoes, sukini, and so on.</p>
<p>If you want to work, get vaccinated, or do almost anything useful apart from visting places, you need a fiscal code. You can easily get this number if you're european, and it can be very tricky or just impossible if you're from elsewhere. For europeans, a tedious AA4 form has to be completed. We got it with help of many people. In terms of bureaucracy, Italy is a bit messy and slow, but things will probably workout after the wait.
</p>
<p>Italian language is relatively easy to learn if you speak a latin language (spanish, french). In our case we learnt mostly by listening and sometimes talking. First, we learnt words that were common in the talks and meetings we attended to (as we were in Thabarwa Centre). But in any case this would include common phrases and personal pronouns as well as adjectives, nouns, verbs. Later on learn how words change with the noun or the intention of a sentence. It is a good step further to understand how verbs work to be able to get a lot more from any speech.
</p>
<p>For us, learning a language needs a good slice of memorization effort at first, so you can have a good database of words to use and to find patterns and relations between them, that help you understand the basics of the language. Memorization of words is enhanced by learning first words that you hear a lot, or the name of objects you're normally in contact with, etc.
</p>
<p>Still, even for a spanish or french speaker, learning the details takes a long time. In 4 months trying to actively learn the language (with no students book or anything like that) we got to the point of understanding almost everything and talking reasonably well in present and past. Another 4 months would make it to get good at this, mostly by expanding the database of words and verb endings. Some other newcomers would struggle in the same way.
</p>
</main>
